# Load Data

In [35]:
import pandas as pd

In [36]:
path = 'C:/Users/FT-LT74/hnm_fashion_recommendation/data/raw'

In [3]:
articles = pd.read_csv(path+'/articles.csv')
articles.head(5)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [4]:
articles.shape

(105542, 25)

In [5]:
customers = pd.read_csv(path+'/customers.csv')
customers.head(5)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [9]:
customers.shape

(1371980, 7)

In [6]:
transactions = pd.read_csv(path+'/transactions_train.csv')

In [7]:
transactions.head(5)

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

In [8]:
transactions.shape

(31788324, 5)

# Exploring Data

In [14]:
articles.nunique()

article_id                      105542
product_code                     47224
prod_name                        45875
product_type_no                    132
product_type_name                  131
product_group_name                  19
graphical_appearance_no             30
graphical_appearance_name           30
colour_group_code                   50
colour_group_name                   50
perceived_colour_value_id            8
perceived_colour_value_name          8
perceived_colour_master_id          20
perceived_colour_master_name        20
department_no                      299
department_name                    250
index_code                          10
index_name                          10
index_group_no                       5
index_group_name                     5
section_no                          57
section_name                        56
garment_group_no                    21
garment_group_name                  21
detail_desc                      43404
dtype: int64

In [15]:
customers.nunique()

customer_id               1371980
FN                              1
Active                          1
club_member_status              3
fashion_news_frequency          4
age                            84
postal_code                352899
dtype: int64

In [16]:
articles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  object
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  object
 5   product_group_name            105542 non-null  object
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  object
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  object
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  object
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  object
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  object
 16  index_code                    105542 non-null  object
 17  index_name                    105542 non-null  object
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  object
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  object
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  object
 24  detail_desc                   105126 non-null  object
dtypes: int64(11), object(14)
memory usage: 20.1+ MB

detail_desc has NA/NULL values

check for duplicated items/ typos?

In [17]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371980 entries, 0 to 1371979
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1371980 non-null  object
 1   FN                      476930 non-null   float64
 2   Active                  464404 non-null   float64
 3   club_member_status      1365918 non-null  object
 4   fashion_news_frequency  1355971 non-null  object
 5   age                     1356119 non-null  float64
 6   postal_code             1371980 non-null  object
dtypes: float64(3), object(4)
memory usage: 73.3+ MB

all have NULL values besides customer_id and postal_code

are there any addresses that are the same?

In [18]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.2+ GB

# articles.csv

In [19]:
articles.head(1)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.

In [43]:
articles[articles['detail_desc'].isna()==True]

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
1467,351332007,351332,Marshall Lace up Top,252,Sweater,Garment Upper body,1010018,Treatment,7,Grey,...,Jersey Fancy DS,D,Divided,2,Divided,58,Divided Selected,1005,Jersey Fancy,NaN
2644,420049002,420049,OL TAGE PQ,87,Boots,Shoes,1010016,Solid,13,Beige,...,Premium Quality,C,Ladies Accessories,1,Ladieswear,64,Womens Shoes,1020,Shoes,NaN
2645,420049003,420049,OL TAGE PQ,87,Boots,Shoes,1010016,Solid,23,Dark Yellow,...,Premium Quality,C,Ladies Accessories,1,Ladieswear,64,Womens Shoes,1020,Shoes,NaN
2742,426199002,426199,Ellen Shortie Daisy Low 3p,286,Underwear bottom,Underwear,1010016,Solid,9,Black,...,Casual Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear",NaN
2743,426199010,426199,Ellen Shortie Daisy Low 3p,286,Underwear bottom,Underwear,1010017,Stripe,8,Dark Grey,...,Casual Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67838,752458001,752458,Poissy boho dress,265,Dress,Garment Full body,1010007,Embroidery,10,White,...,Dress,A,Ladieswear,1,Ladieswear,6,Womens Casual,1013,Dresses Ladies,NaN
72720,768842001,768842,Andrews set,270,Garment Set,Garment Full body,1010017,Stripe,10,White,...,Baby Boy Woven,G,Baby Sizes 50-98,4,Baby/Children,41,Baby Boy,1006,Woven/Jersey/Knitted mix Baby,NaN
72721,768842004,768842,Andrews set,270,Garment Set,Garment Full body,1010004,Check,73,Dark Blue,...,Baby Boy Woven,G,Baby Sizes 50-98,4,Baby/Children,41,Baby Boy,1006,Woven/Jersey/Knitted mix Baby,NaN
93144,856985001,856985,Pogo rope,67,Belt,Accessories,1010016,Solid,12,Light Beige,...,Belts,C,Ladies Accessories,1,Ladieswear,65,Womens Big accessories,1019,Accessories,NaN
95624,867200001,867200,Necklace Simon,77,Necklace,Accessories,1010011,Metallic,3,Silver,...,Small Accessories,F,Menswear,3,Menswear,25,Men Accessories,1019,Accessories,NaN

In [27]:
articles_count = articles['prod_name'].value_counts().to_frame().reset_index()

In [50]:
articles_count.head(5)

                   index  prod_name
0        Dragonfly dress         98
1               Mike tee         72
2   Wow printed tee 6.99         70
3                1pk Fun         55
4  TP Paddington Sweater         54

In [29]:
articles['article_id'].nunique()

105542

In [30]:
articles.shape

(105542, 25)

In [32]:
articles[articles.iloc[:,1:].duplicated()]

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
19,118458029,118458,Jerry jogger bottoms,272,Trousers,Garment Lower body,1010010,Melange,8,Dark Grey,...,Jersey Basic,F,Menswear,3,Menswear,26,Men Underwear,1002,Jersey Basic,Trousers in sweatshirt fabric with an elastica...
45,145872053,145872,Dorian l/s basic,252,Sweater,Garment Upper body,1010010,Melange,8,Dark Grey,...,Men Sport Woven,S,Sport,26,Sport,22,Men H&M Sport,1005,Jersey Fancy,"Long-sleeved sports top in fast-drying, breath..."
47,146706004,146706,Tanktop body white 3PACK,256,Bodysuit,Garment Upper body,1010016,Solid,10,White,...,Baby basics,G,Baby Sizes 50-98,4,Baby/Children,44,Baby Essentials & Complements,1002,Jersey Basic,Sleeveless bodysuits in soft organic cotton je...
88,174057028,174057,FLEECE PYJAMA,295,Pyjama jumpsuit/playsuit,Nightwear,1010001,All over pattern,51,Light Pink,...,Baby Nightwear,G,Baby Sizes 50-98,4,Baby/Children,44,Baby Essentials & Complements,1017,"Under-, Nightwear","All-in-one pyjamas in soft, patterned fleece t..."
91,174057032,174057,FLEECE PYJAMA,295,Pyjama jumpsuit/playsuit,Nightwear,1010001,All over pattern,73,Dark Blue,...,Baby Nightwear,G,Baby Sizes 50-98,4,Baby/Children,44,Baby Essentials & Complements,1017,"Under-, Nightwear","All-in-one pyjamas in soft, patterned fleece t..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104749,926603002,926603,Walnut 2-pack sport sock,302,Socks,Socks & Tights,1010005,Colour blocking,10,White,...,Ladies Sport Acc,S,Sport,26,Sport,5,Ladies H&M Sport,1019,Accessories,Fine-knit sports socks with a ribbed shaft. Th...
104997,930032002,930032,Slouchy Mom fit belted,272,Trousers,Garment Lower body,1010023,Denim,71,Light Blue,...,Denim Trousers,D,Divided,2,Divided,57,Ladies Denim,1016,Trousers Denim,"5-pocket, ankle-length jeans in sturdy, washed..."
105060,931769004,931769,ED Madison Skinny HW,272,Trousers,Garment Lower body,1010016,Solid,9,Black,...,Woven bottoms,A,Ladieswear,1,Ladieswear,2,H&M+,1009,Trousers,"5-pocket jeans in washed, stretch cotton denim..."
105286,936099002,936099,2p Penelope scrunchies,78,Other accessories,Accessories,1010016,Solid,9,Black,...,Hair Accessories,C,Ladies Accessories,1,Ladieswear,66,Womens Small accessories,1019,Accessories,Elasticated scrunchies in soft fabric.
105447,942194002,942194,Magic Gloves New,71,Gloves,Accessories,1010016,Solid,9,Black,...,Knit & Woven,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,"Gloves in a soft, fine knit with ribbed cuffs...."

In [34]:
articles[articles.prod_name.str.contains('Magic Gloves New')]  # sanity check

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
105446,942194001,942194,Magic Gloves New,71,Gloves,Accessories,1010016,Solid,9,Black,...,Knit & Woven,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,"Gloves in a soft, fine knit with ribbed cuffs...."
105447,942194002,942194,Magic Gloves New,71,Gloves,Accessories,1010016,Solid,9,Black,...,Knit & Woven,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,"Gloves in a soft, fine knit with ribbed cuffs...."
105448,942194004,942194,Magic Gloves New,71,Gloves,Accessories,1010016,Solid,13,Beige,...,Knit & Woven,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,"Gloves in a soft, fine knit with ribbed cuffs...."

### Changing all to lowercase

In [48]:
# lowercase everything then check for duplication
for col in articles.columns:
    if articles[col].dtype == 'object':
        articles[col] = articles[col].str.lower()

In [51]:
articles.head(2)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,strap top,253,vest top,garment upper body,1010016,solid,9,black,...,jersey basic,a,ladieswear,1,ladieswear,16,womens everyday basics,1002,jersey basic,jersey top with narrow shoulder straps.
1,108775044,108775,strap top,253,vest top,garment upper body,1010016,solid,10,white,...,jersey basic,a,ladieswear,1,ladieswear,16,womens everyday basics,1002,jersey basic,jersey top with narrow shoulder straps.

### Removing duplicates

In [54]:
articles_dup = articles[articles.iloc[:,1:].duplicated()]
articles_dup.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
19,118458029,118458,jerry jogger bottoms,272,trousers,garment lower body,1010010,melange,8,dark grey,...,jersey basic,f,menswear,3,menswear,26,men underwear,1002,jersey basic,trousers in sweatshirt fabric with an elastica...
45,145872053,145872,dorian l/s basic,252,sweater,garment upper body,1010010,melange,8,dark grey,...,men sport woven,s,sport,26,sport,22,men h&m sport,1005,jersey fancy,"long-sleeved sports top in fast-drying, breath..."
47,146706004,146706,tanktop body white 3pack,256,bodysuit,garment upper body,1010016,solid,10,white,...,baby basics,g,baby sizes 50-98,4,baby/children,44,baby essentials & complements,1002,jersey basic,sleeveless bodysuits in soft organic cotton je...
88,174057028,174057,fleece pyjama,295,pyjama jumpsuit/playsuit,nightwear,1010001,all over pattern,51,light pink,...,baby nightwear,g,baby sizes 50-98,4,baby/children,44,baby essentials & complements,1017,"under-, nightwear","all-in-one pyjamas in soft, patterned fleece t..."
91,174057032,174057,fleece pyjama,295,pyjama jumpsuit/playsuit,nightwear,1010001,all over pattern,73,dark blue,...,baby nightwear,g,baby sizes 50-98,4,baby/children,44,baby essentials & complements,1017,"under-, nightwear","all-in-one pyjamas in soft, patterned fleece t..."

In [55]:
articles_dup.shape

(5317, 25)

articles[articles['prod_name'].str.contains('jerry jogger bottoms')]

In [66]:
article_dup_id = articles_dup['article_id'].to_list()

In [67]:
article_dup_id

[118458029,
 145872053,
 146706004,
 174057028,
 174057032,
 174057033,
 176209039,
 176550020,
 179950017,
 186372045,
 187949026,
 187949028,
 187949029,
 187949030,
 187949031,
 187949032,
 189616007,
 189616008,
 189616014,
 189616015,
 189616016,
 189616032,
 201219014,
 204892029,
 212629043,
 212629047,
 212629048,
 212629051,
 214844008,
 215303005,
 219075023,
 224606031,
 228257003,
 233091021,
 237347060,
 237347069,
 241486016,
 243937028,
 247072026,
 247072032,
 249136015,
 249136020,
 249136023,
 249136025,
 249136028,
 254303056,
 254457037,
 254457038,
 254457039,
 255396024,
 255396025,
 255396042,
 257430032,
 257430036,
 262277029,
 265071027,
 266875014,
 269342023,
 276242021,
 276242025,
 278038031,
 278038035,
 282832017,
 282832018,
 282832021,
 287645029,
 287645031,
 288825018,
 288825019,
 288825024,
 288859020,
 291333021,
 291338023,
 291338033,
 291338034,
 293433018,
 293433042,
 293510016,
 296471025,
 296476012,
 296476014,
 300024016,
 300024045,
 300024047,
 300024048,
 300024056,
 300024063,
 300908003,
 300908009,
 301213013,
 301213014,
 301656026,
 301656028,
 301687013,
 304766008,
 305304020,
 305775041,
 307656029,
 308154007,
 308158014,
 309864014,
 310091034,
 310091038,
 310091042,
 310091043,
 311059029,
 315795004,
 316242055,
 316441016,
 316441038,
 317812012,
 318035025,
 318066016,
 318914026,
 318914029,
 318951023,
 318951025,
 318951026,
 319906006,
 319906007,
 319906008,
 319906009,
 322017043,
 324963051,
 324963055,
 326885054,
 327144033,
 327821029,
 327821030,
 327821034,
 327821045,
 331474033,
 335037004,
 337991010,
 338016011,
 338400004,
 338400005,
 341242012,
 341242013,
 341242019,
 341782043,
 343973011,
 345830031,
 348330041,
 348330043,
 348330049,
 348870011,
 349301032,
 349301046,
 350135017,
 351182006,
 351484042,
 351771048,
 351933051,
 354246021,
 355569046,
 356289021,
 356289060,
 356289075,
 356289077,
 360950008,
 360950014,
 360950016,
 361531012,
 362997011,
 365102032,
 369796035,
 370594021,
 370868012,
 372576016,
 372628016,
 372628019,
 372860072,
 372860073,
 375248028,
 377277018,
 377277034,
 378135022,
 379360031,
 379360033,
 379360034,
 379360053,
 379780045,
 386859053,
 387348025,
 391032010,
 391750015,
 391750016,
 393447015,
 394292002,
 395127040,
 395619018,
 395864068,
 398089014,
 399061028,
 399061032,
 399061040,
 399087030,
 399087042,
 399087051,
 399136054,
 399201023,
 399201024,
 399201031,
 399201033,
 399201042,
 399201045,
 399223028,
 399223032,
 399223035,
 399223052,
 399223059,
 399256023,
 400285021,
 400342037,
 401044034,
 401044037,
 403844007,
 403844009,
 403844010,
 404864023,
 405636014,
 405636016,
 405636018,
 405636020,
 405636041,
 405636042,
 405887028,
 406724012,
 406724022,
 406724024,
 406724025,
 408664007,
 408875018,
 408875021,
 412707029,
 413707020,
 413707021,
 413707023,
 413707031,
 416157034,
 416961019,
 417427037,
 420963006,
 421387028,
 421387032,
 421387034,
 421387038,
 423900008,
 423900011,
 423900021,
 423900034,
 423900035,
 423900045,
 423900047,
 423900055,
 427558009,
 429313023,
 429322007,
 433414034,
 433414035,
 433444017,
 433444022,
 436570024,
 439793011,
 442786006,
 442915008,
 442915013,
 443078014,
 443262019,
 443696021,
 443860040,
 445400024,
 445400030,
 445419010,
 448262041,
 448262042,
 448262044,
 448509017,
 448509018,
 448509035,
 448515036,
 449123052,
 449192003,
 449263044,
 449555006,
 449570038,
 449570040,
 449570041,
 449570050,
 449570056,
 449570061,
 449570063,
 449570064,
 449570067,
 449897018,
 449897050,
 451229044,
 451290009,
 451380009,
 451380012,
 451380024,
 451380026,
 451556009,
 451744015,
 452616009,
 452717007,
 452851017,
 452851029,
 452851034,
 452851035,
 452851036,
 452898030,
 452898031,
 453065029,
 453065032,
 453239037,
 453272019,
 453272029,
 453272033,
 453272038,
 453272047,
 453272049,
 453272051,
 453272064,
 453272066,
 453272067,
 453309014,
 453445023,
 453445025,
 453445026,
 453445028,
 453445030,
 453445037,
 453453016,
 453453025,
 453453026,
 453453028,
 453453029,
 453585016,
 453745024,
 454128017,
 454128021,
 454804009,
 454804011,
 454804012,
 455014022,
 455014028,
 455014029,
 456032016,
 456032019,
 456032021,
 456163034,
 456163049,
 456163062,
 456163083,
 456163086,
 458393011,
 458428044,
 458428045,
 458543009,
 459428009,
 459428018,
 462128022,
 462128029,
 462128031,
 462435014,
 462435015,
 462435019,
 462435020,
 462435021,
 462435024,
 463601012,
 463601015,
 463601019,
 463601020,
 463601022,
 463970044,
 464297030,
 464454017,
 464679012,
 464679015,
 464695016,
 464927008,
 464927013,
 464927020,
 464927021,
 464927027,
 465619013,
 465655010,
 465655016,
 465655019,
 465655024,
 466891002,
 466948012,
 466948016,
 466948018,
 466948019,
 466948027,
 466948028,
 466948030,
 466948031,
 469039019,
 469039034,
 469562034,
 469562036,
 469562048,
 469562050,
 469562055,
 469562058,
 469562061,
 469562065,
 469562067,
 469562068,
 469658018,
 469658020,
 469658022,
 470636040,
 470636061,
 470636062,
 471074012,
 471566005,
 471714009,
 471714035,
 471714037,
 472064011,
 474461045,
 474471018,
 475827018,
 476315040,
 477107015,
 477893017,
 477893020,
 477893022,
 478298005,
 478298011,
 478426004,
 478566050,
 478992015,
 480076008,
 481110017,
 481110018,
 481781009,
 481912029,
 481912034,
 481912041,
 482258008,
 483645007,
 484104007,
 484108012,
 484205018,
 484398018,
 484398021,
 484398026,
 484398062,
 484398067,
 484398077,
 485537024,
 485542009,
 485542022,
 485542023,
 485542025,
 485544006,
 485544018,
 485546009,
 485546010,
 485546011,
 485546012,
 485546014,
 485546026,
 485551008,
 485551014,
 485553020,
 485553023,
 485554003,
 485673033,
 485673041,
 485673061,
 485683011,
 485683018,
 485683023,
 485688015,
 485689026,
 485691004,
 485691007,
 485746009,
 485746011,
 485973048,
 486639013,
 487050028,
 487050029,
 487050030,
 487050037,
 487050041,
 487052010,
 487052011,
 487205013,
 487205024,
 487205027,
 487207019,
 487275019,
 487275021,
 487275022,
 487275023,
 487750036,
 487750042,
 487750045,
 487800026,
 487800027,
 487800028,
 487800029,
 487800035,
 487800037,
 487800050,
 487800052,
 487827023,
 487932029,
 487932038,
 487932043,
 487932044,
 487937006,
 488012017,
 488012027,
 488012029,
 488012032,
 488012034,
 488016012,
 488016028,
 488016029,
 488017024,
 488546012,
 488546014,
 488561032,
 488697013,
 488697030,
 488697031,
 489435011,
 489838010,
 490097005,
 490113011,
 490793009,
 490793014,
 490793035,
 490794012,
 491912025,
 491912034,
 491912037,
 491913011,
 491913012,
 493438019,
 493438025,
 493438027,
 493810022,
 493810029,
 493810030,
 493814040,
 493814044,
 493826004,
 493836020,
 494088019,
 494088022,
 494088024,
 494088025,
 494094012,
 495030010,
 495030020,
 495725009,
 495733010,
 495884012,
 495884013,
 495949004,
 496111018,
 497225025,
 497225030,
 497284015,
 497284018,
 497284023,
 497284027,
 497284028,
 497637010,
 497637012,
 497640011,
 497640018,
 497640024,
 497640027,
 497640028,
 497664016,
 497664017,
 497664026,
 497664029,
 498738018,
 498738028,
 498738029,
 498740011,
 498740016,
 498740019,
 498743008,
 498743010,
 499553006,
 499553007,
 499802030,
 499802031,
 499802032,
 500435016,
 500435026,
 500435031,
 500435040,
 500435120,
 500435122,
 500435123,
 500435126,
 500435132,
 500771007,
 500771012,
 501120015,
 501616086,
 501616088,
 501616089,
 501619019,
 501620012,
 501620016,
 501620027,
 501620029,
 501620030,
 501620032,
 501620035,
 501620036,
 501620042,
 501722024,
 501722026,
 502157025,
 502186011,
 504113011,
 504113012,
 504113014,
 504113023,
 504113024,
 504113026,
 504154027,
 504155012,
 505507010,
 505507011,
 505507014,
 505507015,
 505507016,
 505507017,
 506098016,
 506321009,
 506321011,
 506408006,
 506408007,
 506495012,
 507431033,
 507909007,
 507909015,
 507909018,
 507909022,
 507909023,
 507909026,
 507909027,
 507910008,
 507910021,
 508318011,
 508543050,
 508544022,
 508638032,
 508638037,
 508691010,
 508691011,
 508691017,
 508929036,
 508929051,
 508929053,
 508929059,
 508929061,
 508929063,
 508929064,
 508929068,
 508931036,
 508932035,
 508932039,
 508987008,
 509091023,
 509091025,
 509091028,
 509091030,
 509091033,
 509091036,
 509091045,
 509091050,
 509091054,
 509091060,
 509415002,
 509457044,
 509457051,
 509497005,
 509893016,
 509893019,
 509937025,
 510074016,
 510321010,
 510321012,
 510398018,
 510407038,
 510407056,
 510407060,
 510407062,
 510407094,
 511121007,
 511121009,
 512385003,
 512385006,
 512385007,
 512743004,
 512972003,
 512989029,
 513325017,
 513373019,
 513373024,
 513699036,
 513699043,
 514692016,
 514865007,
 514865008,
 514865017,
 514865019,
 514865026,
 515136003,
 515136004,
 515692014,
 515693010,
 515949004,
 516000039,
 516000071,
 516000075,
 516898009,
 516898010,
 516900002,
 516900009,
 516903009,
 516903024,
 516903028,
 517729015,
 517729036,
 517813012,
 517959026,
 519219012,
 519583034,
 519583035,
 519583038,
 519583048,
 519936043,
 520427009,
 520427011,
 521062009,
 522398027,
 522398030,
 522398056,
 522398064,
 522398065,
 522725014,
 522725016,
 522725017,
 522725020,
 522725021,
 522918034,
 522918041,
 522952031,
 522952033,
 522952034,
 522952035,
 523196004,
 523404030,
 523404032,
 523479009,
 523607011,
 523625005,
 523642008,
 523936012,
 523936021,
 523936027,
 523936032,
 523936035,
 523936038,
 523936044,
 523936045,
 523936049,
 524825013,
 524979014,
 524979017,
 524979018,
 524979019,
 524979022,
 524979029,
 524979032,
 525256008,
 525500007,
 525500025,
 525500026,
 525500027,
 525500029,
 525563014,
 525563017,
 525563022,
 525563023,
 525563024,
 525563026,
 525563029,
 525563033,
 525563036,
 525563037,
 525563038,
 525563039,
 525581015,
 526512009,
 526708016,
 527687006,
 529008046,
 529012045,
 529055004,
 529953007,
 530235020,
 531615009,
 531665010,
 533022027,
 533022032,
 533022033,
 533022034,
 533022038,
 533261011,
 533261012,
 533261013,
 533261015,
 533261021,
 533261031,
 533261032,
 533261034,
 533294015,
 533329009,
 533329010,
 533404042,
 533404050,
 533406024,
 533406025,
 533406040,
 533406042,
 533406043,
 533775003,
 533970007,
 533970010,
 534021002,
 534071009,
 534071010,
 534164024,
 534181008,
 534181010,
 534258004,
 534357015,
 535176003,
 535478005,
 535877018,
 535877019,
 535877021,
 536139034,
 536139047,
 536139048,
 536139053,
 536139057,
 537119003,
 537461003,
 537612022,
 537612028,
 537612029,
 537688014,
 538142008,
 538358016,
 538358018,
 538358019,
 538358027,
 538680002,
 538946003,
 538993007,
 539060009,
 539290013,
 539357014,
 539366010,
 539723007,
 539723008,
 539723013,
 539723038,
 539723042,
 539878003,
 540277004,
 540278019,
 540614008,
 540768010,
 540768014,
 540768027,
 541286002,
 541286030,
 541286053,
 541308009,
 541308023,
 541308034,
 541512014,
 541518023,
 541518026,
 541519005,
 541519028,
 541519029,
 541519033,
 541519034,
 542017007,
 542073007,
 542073009,
 542366010,
 542413003,
 542533026,
 542533035,
 542677002,
 542982021,
 543035006,
 543035012,
 543035013,
 543035015,
 543035019,
 543827005,
 544290033,
 544571019,
 545258008,
 545258016,
 545429005,
 545449031,
 545449033,
 545449034,
 546269004,
 546684010,
 547365024,
 547365029,
 547367021,
 547367022,
 547384002,
 547391007,
 547780023,
 547857002,
 548040015,
 548110008,
 548110012,
 548110022,
 548110024,
 548110025,
 548110026,
 548110030,
 548111010,
 548603020,
 548930018,
 548930019,
 549253003,
 549262011,
 549263013,
 549263016,
 549263018,
 549607005,
 549961005,
 549961013,
 550004002,
 550827023,
 551044017,
 551044030,
 551044035,
 551044037,
 551044043,
 551044046,
 551044047,
 551044051,
 551044052,
 551044053,
 551045024,
 551045026,
 551045036,
 551045040,
 551045045,
 551045051,
 551045063,
 551045069,
 551045078,
 551080014,
 551080021,
 551462014,
 551504011,
 551892009,
 551989011,
 551989027,
 552041008,
 552346009,
 552346013,
 552346022,
 552346023,
 552346024,
 552346025,
 ...]

In [75]:
articles2 = articles[~articles['article_id'].isin(article_dup_id)].reset_index()

In [77]:
articles2.drop(columns=['index'], inplace=True)

In [78]:
articles2

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,strap top,253,vest top,garment upper body,1010016,solid,9,black,...,jersey basic,a,ladieswear,1,ladieswear,16,womens everyday basics,1002,jersey basic,jersey top with narrow shoulder straps.
1,108775044,108775,strap top,253,vest top,garment upper body,1010016,solid,10,white,...,jersey basic,a,ladieswear,1,ladieswear,16,womens everyday basics,1002,jersey basic,jersey top with narrow shoulder straps.
2,108775051,108775,strap top (1),253,vest top,garment upper body,1010017,stripe,11,off white,...,jersey basic,a,ladieswear,1,ladieswear,16,womens everyday basics,1002,jersey basic,jersey top with narrow shoulder straps.
3,110065001,110065,op t-shirt (idro),306,bra,underwear,1010016,solid,9,black,...,clean lingerie,b,lingeries/tights,1,ladieswear,61,womens lingerie,1017,"under-, nightwear","microfibre t-shirt bra with underwired, moulde..."
4,110065002,110065,op t-shirt (idro),306,bra,underwear,1010016,solid,10,white,...,clean lingerie,b,lingeries/tights,1,ladieswear,61,womens lingerie,1017,"under-, nightwear","microfibre t-shirt bra with underwired, moulde..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100220,953450001,953450,5pk regular placement1,302,socks,socks & tights,1010014,placement print,9,black,...,socks bin,f,menswear,3,menswear,26,men underwear,1021,socks and tights,socks in a fine-knit cotton blend with a small...
100221,953763001,953763,sport malaga tank,253,vest top,garment upper body,1010016,solid,9,black,...,jersey,a,ladieswear,1,ladieswear,2,h&m+,1005,jersey fancy,loose-fitting sports vest top in ribbed fast-d...
100222,956217002,956217,cartwheel dress,265,dress,garment full body,1010016,solid,9,black,...,jersey,a,ladieswear,1,ladieswear,18,womens trend,1005,jersey fancy,"short, a-line dress in jersey with a round nec..."
100223,957375001,957375,claire hair claw,72,hair clip,accessories,1010016,solid,9,black,...,small accessories,d,divided,2,divided,52,divided accessories,1019,accessories,large plastic hair claw.
100224,959461001,959461,lounge dress,265,dress,garment full body,1010016,solid,11,off white,...,jersey,a,ladieswear,1,ladieswear,18,womens trend,1005,jersey fancy,calf-length dress in ribbed jersey made from a...

### Check for typos missed from duplicates

In [84]:
for col in articles.columns:
    if articles[col].dtype == 'object':
        print(col)

prod_name
product_type_name
product_group_name
graphical_appearance_name
colour_group_name
perceived_colour_value_name
perceived_colour_master_name
department_name
index_code
index_name
index_group_name
section_name
garment_group_name
detail_desc

In [85]:
articles2['prod_name'].unique()

array(['strap top', 'strap top (1)', 'op t-shirt (idro)', ...,
       'cartwheel dress', 'claire hair claw', 'lounge dress'],
      dtype=object)

# customers.csv

In [82]:
customers

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
...,...,...,...,...,...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,NaN,ACTIVE,NONE,24.0,7aa399f7e669990daba2d92c577b52237380662f36480b...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,NaN,ACTIVE,NONE,21.0,3f47f1279beb72215f4de557d950e0bfa73789d24acb5e...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,1.0,1.0,ACTIVE,Regularly,21.0,4563fc79215672cd6a863f2b4bf56b8f898f2d96ed590e...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,1.0,1.0,ACTIVE,Regularly,18.0,8892c18e9bc3dca6aa4000cb8094fc4b51ee8db2ed14d7...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,NaN,PRE-CREATE,NONE,65.0,0a1a03306fb2f62164c2a439b38c0caa64b40deaae8687...

In [81]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371980 entries, 0 to 1371979
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1371980 non-null  object
 1   FN                      476930 non-null   float64
 2   Active                  464404 non-null   float64
 3   club_member_status      1365918 non-null  object
 4   fashion_news_frequency  1355971 non-null  object
 5   age                     1356119 non-null  float64
 6   postal_code             1371980 non-null  object
dtypes: float64(3), object(4)
memory usage: 73.3+ MB

In [ ]:
customers[customers['detail_desc'].isna()==True]

### Check postal code

In [83]:
customers['postal_code'].value_counts()

2c29ae653a9282cce4151bd87643c907644e09541abc28ae87dea0d1f6603b1c    120303
cc4ed85e30f4977dae47662ddc468cd2eec11472de6fac5ec985080fd92243c8       261
714976379549eb90aae4a71bca6c7402cc646ae7c40f6c1cb91d4b5a18623fc1       159
7c1fa3b0ec1d37ce2c3f34f63bd792f3b4494f324b6be5d1e4ba6a75456b96a7       157
5b7eb31eabebd3277de632b82267286d847fd5d44287ee150bb4206b48439145       156
                                                                     ...
2a86cf60e8a2e8d8e42d8b573ac8352f02acf30feaaf4da7d8ce890e2cf351c8         1
d2f8a4cda6064a9f12a195cefbe03b9f06a087ef56ed1747b61d598267b639b8         1
37f8fd38f5be92e572c198afa71bd4cba7c378923997f5615360a9f2f424803f         1
db6db465630f871f2f9c9840d57d9fae1286de09d6da241eb63db8750a621ff1         1
9852205ad29464af994ad5289e91a5a86bcda3a91ed2187e83000aca1825749c         1
Name: postal_code, Length: 352899, dtype: int64

In [ ]:
customers[]